In [ ]:
 #import library
import statsmodels.api as sm
from sklearn import tree

import numpy as np
import pandas as pd

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# import data
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
df = pd.DataFrame(mtcars, index=None)
df = df.reset_index(drop=True)
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [ ]:
"""
[, 1]   mpg     Miles/(US) gallon
[, 2]   cyl     Number of cylinders
[, 3]   disp    Displacement (cu.in.)
[, 4]   hp      Gross horsepower
[, 5]   drat    Rear axle ratio
[, 6]   wt      Weight (lb/1000)
[, 7]   qsec    1/4 mile time
[, 8]   vs      V/S
[, 9]   am      Transmission (0 = automatic, 1 = manual)
[,10]   gear    Number of forward gears
[,11]   carb    Number of carburetors
"""

'\n[, 1]   mpg     Miles/(US) gallon\n[, 2]   cyl     Number of cylinders\n[, 3]   disp    Displacement (cu.in.)\n[, 4]   hp      Gross horsepower\n[, 5]   drat    Rear axle ratio\n[, 6]   wt      Weight (lb/1000)\n[, 7]   qsec    1/4 mile time\n[, 8]   vs      V/S\n[, 9]   am      Transmission (0 = automatic, 1 = manual)\n[,10]   gear    Number of forward gears\n[,11]   carb    Number of carburetors\n'

In [ ]:
# choose features
X = df[["hp", "vs", "am", "gear", "carb"]] 
# hp      Gross horsepower
# vs      V/S
# gear    Number of forward gears
# cyl     Number of cylinders

In [ ]:
# choose label
y = df["cyl"]
 # Number of carburetors

In [ ]:
# train model
classifier = tree.DecisionTreeClassifier()
classifier = classifier.fit(X, y)

In [ ]:
print(classifier.predict([[110, 0, 1, 4, 4]]))

[6]